/* Responsividade para o tamanho dos cards */
.card {
    width: 100%; /* Faz os cards ocuparem 100% da largura disponível */
    height: 100%; /* Faz os cards ocuparem toda a altura disponível */
    display: flex;
    flex-direction: column; /* Faz os elementos do card se empilharem na vertical */
    padding: 10px;
    box-sizing: border-box; /* Garante que padding e bordas sejam incluídos no cálculo de tamanho */
}

/* A imagem dos cards */
.card-img-top {
    object-fit: cover;
    height: 200px; /* Definir altura fixa para as imagens */
}

/* Ajustar botões para o estilo de layout */
.button {
    display: inline-block;
    margin: 5px 0;
    padding: 8px 16px;
    background-color: #00B359;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #007F2E;
}
